@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */
@font-face {
  font-family: "Inter", sans-serif;
  src: url("../fonts/Inter/static/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
